.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/*
ebin/*.beam
deps
Utlis/mongodb/.rebar
Utlis/mongodb/rel/*
Utlis/mongodb/ebin/*.beam
Utlis/mongodb/deps

# rebar 3
Utlis/mongodb/.rebar3
Utlis/mongodb/_build/
_Utlis/mongodb/checkouts/


# Erlang
erl_crash.dump


#IntelliJ IDEA
.idea
